<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmzd.ghazal.onlineshop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineShop"
        android:usesCleartextTraffic="true">
        <activity android:name=".cart.Activity_order"></activity>
        <activity android:name=".address.Address_add" />
        <activity android:name=".address.Address_activity" />
        <activity android:name=".cart.Cart_user" />
        <activity android:name=".more.More_activity" />
        <activity android:name=".auth.Panel_user" />
        <activity android:name=".auth.Register_user" />
        <activity android:name=".auth.Login_user" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>